%header.page-header
  .content
    %h1.title Workshops
    %h2.subtitle
      One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.

%section.page-content
  - @workshops.each do |workshop|
    = link_to workshop, {class: 'workshop-item'} do

      = image_tag('samples/workshop.jpg', {class: 'thumbnail'})

      .info
        .title= workshop.title
        .date an hour ago

        %ul.tags
          %li Beelden
          %li 12-16 jaar
