%h1.title= @workshop.title
= image_tag @workshop.cover_image.url(:medium), class: 'cover-image'

%h2 Groepsworkshop (op aanvraag)

Naam organisatie:
* Straat + nummer:
* Gemeente + postcode:
Telefoonnummer:
* Voornaam + naam contactpersoon:
* Telefoon contactpersoon:
* E-mail contactpersoon:
* Datum workshop:
Aantal deelnemers:
* Leeftijd deelnemers:
Vragen:


%h2 In huis

* Naam
* Emailadres
