%section.section.expo-section
  %h1.title Expo
  %p Ons volledige gebouw doet dienst als expositieruimte voor jonge artiesten. Het decor wisselt regelmatig van setting, zodat het publiek steeds door nieuwe creatievelingen verrast kan worden!
  %p
    Wil je meer informatie hierover? Of wil je graag jouw werken bij ons tentoon stellen?  Stuur dan een mailtje naar
    %a{href: "lieke@projectartuur.be"} lieke@projectartuur.be
