%section.section.start-section
  .content
    = image_tag 'logo.png', class: 'logo'

    %nav.quick-nav
      %ul
        %li
          .label Workshops
          .description voor jong en oud, lekker creatief wezen
        %li
          .label Bar
          .description Zoet? schuimig? Vooral gezellig
        %li
          .label Expo
          .description
        %li
          .label Workspace
          .description

/ = yield
