%section.section.bar-section
  .bar-header-outer-wrapper
    .bar-header-wrapper
      %header.bar-header
        %h1.title Bar
        %p.tagline
          Zoet? Schuimig?
          %br
          Vooral gezellig!

      = image_tag 'bar/cover.jpg', class: 'cover-image'

  .content-wrapper
    .content
      .opening-hours
      %ul.opening-hours-list
        %li.day.closed{class: ('today' if is_today('monday'))}
          .label maandag
          .info gesloten
        %li.day.closed{class: ('today' if is_today('tuesday'))}
          .label dinsdag
          .info gesloten
        %li.day{class: ('today' if is_today('wednesday'))}
          .label woensdag
          .info 10u tot 18u
        %li.day{class: ('today' if is_today('thursday'))}
          .label donderdag
          .info 10u tot 2u
        %li.day{class: ('today' if is_today('friday'))}
          .label vrijdag
          .info 10u tot 2u
        %li.day{class: ('today' if is_today('saturday'))}
          .label zaterdag
          .info 10u tot 2u
        %li.day{class: ('today' if is_today('sunday'))}
          .label zondag
          .info 12u tot 20u

    .menu-card
      = image_tag 'bar/menu-card-recto.png'
      = image_tag 'bar/menu-card-verso.png'
