Welkom op de website van Artuur! Wij zijn Lieke en Neeltje, twee Lommelse dames die genieten van elke vorm van kunst & cultuur en deze passie willen we graag met jullie delen. Daarom richtten we Artuur op, een creatief project voor en door jongeren. Het is ons doel om zo veel mogelijk jongeren actief te laten deelnemen aan en genieten van kunst en cultuur. We doen dit door drie pijlers te integreren in ons project, namelijk:
Een bar/café
Een expo/creatieve werkruimte
Workshops
Verder delen we op onze website graag verhalen over jonge kunstenaars, inspirerende plekken, boeken & films, musea & tentoonstellingen, maar bovenal willen we jullie inspireren om zelf creatief aan de slag te gaan!
Een extra woordje uitleg over ons:
Neeltje:
Neeltje is communicatiewetenschapper en sociaal cultureel werker, zij gelooft in de vormende kracht van kunst en cultuur en maakt er haar missie van om iedereen te laten proeven van verschillende kunstvormen.
Lieke:
Lieke is interieurvormgeefster, geniet van het maken van illustraties en grafische ontwerpen maar geniet bovenal van creatievelingen die zichzelf engageren om aan de slag te gaan! Zelfontwikkeling en zelfbewust zijn is cruciaal en zij wil daarom iedereen inspireren om zichzelf te uiten in eender welke cultuur - en kunstvorm!
